body {
    background-color: #292929;
}

h3, h4, li {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
}
.navbar{
    background-color: #045757;

}
.main-title{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size:100px;
    width: 100%;
    height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

#about-me{
display: flex;
    flex-direction: row-reverse;

}

#about-me-text{
    margin: 2em 2em 2em 2em;
}


.desc-title{
    margin-bottom: 1em;
}

/*.parallax {*/
/*     !* The image used *!*/
/*     background-image: url("img_parallax.jpg");*/

/*     !* Set a specific height *!*/
/*     min-height: 500px;*/

/*     !* Create the parallax scrolling effect *!*/
/*     background-attachment: fixed;*/
/*     background-position: center;*/
/*     background-repeat: no-repeat;*/
/*     background-size: cover;*/
/* }*/

@media (max-width: 768px) {
    #about-me{
        display: flex;
        flex-direction: column;

    }
    #large-photo{
        width: 70%;
        height: auto;
        /*margin-left: 5em;*/
        margin-left: 5em;

    }




}

@media (min-width: 768px) {
    #nav-div {
      width: 35%;
    }
    #large-photo{
        width: 70%;
        height: auto;
        /*margin-left: 5em;*/
        margin: 2em 2em 2em 2em;

    }



}
#projects{
    width: 90%;
    height: auto;
    margin-bottom: 3em;
}

footer{
    margin-top: 5em;
}


#large-photo{
    width: 70%;
    height: auto;
    /*margin: 2em 2em 2em 2em;*/
}


#profile-photo-nav{
    /*transition-duration: 1000ms;*/
    /*transition-property: visibility;*/
}
#image{

}

.reveal{
    display: none;
}

.navbar-brand{
    display: none;

}

#languages{

}

.carousel-inner:hover {
}

.carousel-inner:hover {
    box-shadow: 0 10px 20px 10px;
    color: white;
    transition: all .5s ease-in-out;
}



/*.reveal{*/
/*    position: relative;*/
/*    transform: translateY(150px);*/
/*    opacity: 0;*/
/*    transition: 2s all ease;*/
/*}*/
/*.reveal.active{*/
/*    transform: translateY(0);*/
/*    opacity: 1;*/
/*}*/