body {
    background-color: #292929;
}

h3, h4, li {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    /*margin-bottom: 0;*/
    /*margin-left: .5em;*/
    margin: 0 .5em 0 .5em
}

.navbar{
    background-color: #045757;
    flex-wrap: nowrap;

}

/*#navbar-name{*/
/*    !*width: 30%;*!*/
/*    height: 20px;*/
/*    display: inline-block;*/
/*    text-align: end;*/
/*    margin-right: 2em;*/
/*}*/

/*.navbar-brand{*/
/*    display: none;*/

/*}*/

.navbar-nav{
    align-items: center;

}

.nav-item{
    margin: .5em 2.5em .5em 2.5em;
}

.navbar-toggler{
    align-self: flex-start;

}


#navbar-nav{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

#image{
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}

#profile-photo-nav{
    margin: .2em 2em .2em 2em;
    width: 60px;
    height: 60px;

}

.intro-sec{
    display: flex;
    flex-direction: row;
}
.main-title{
    display: flex;
    flex-direction: column;
    color: white;
    /*font-size:9rem;*/
    font-size: 30px;
    /*font-size: 3.5vw;*/
    width: 100%;
    height: 700px;

        justify-content: center;
        text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

#large-photo-size{
    width: 40%;
    height: auto;
    /*visibility: hidden;*/
    /*justify-self: end;*/
    /*margin: 2em 2em 2em 2em;*/
    /*align-self: flex-end;*/

}

/*.hidden-profile{*/
/*    animation-duration: 3s;*/
/*    animation-name: slidein;*/
/*}*/

.large-photo{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: .5em;
    animation-duration: 3s;
    animation-name: slidein;

}
.intro-line{
    font-family: 'Nunito', sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*hr {*/
/*    width: 15%;*/
/*    background-color: white;*/
/*    border:5px solid white;*/
/*    height: 0px;*/
/*    animation-duration: 3s;*/
/*    animation-name: slidein;*/
/*}*/

.aniName{
    margin-left: 1.2em;
    font-size: 25px;
}
.aniName-2{
    margin-left: 1.2em;
    font-size: 25px;
}


/************NAME/LOCATION LINE ANIMATIONS**************/
.divider {
    display: inline-block;
    border-bottom: #045757 4px solid;
    width: 185px;
    margin: 0 2em 5em 2em;
        animation-duration: 3s;
        animation-name: slidein;
}


.divider-2{
    display: inline-block;
    border-bottom: #045757 4px solid;
    width: 220px;
    margin: 0 2em 5em 2em;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
/******************************************************/
.name-animation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/

}

#about-me{
display: flex;
    flex-direction: row-reverse;

}

#about-me-text{
    margin: 2em 2em 2em 2em;
}


.desc-title{
    margin-bottom: 1em;
}

/*.hidden-profile {*/
/*    visibility: hidden;*/
/*}*/

/*.parallax {*/
/*     !* The image used *!*/
/*     background-image: url("img_parallax.jpg");*/

/*     !* Set a specific height *!*/
/*     min-height: 500px;*/

/*     !* Create the parallax scrolling effect *!*/
/*     background-attachment: fixed;*/
/*     background-position: center;*/
/*     background-repeat: no-repeat;*/
/*     background-size: cover;*/
/* }*/
@media (min-width: 0) {
    .main-title{
        font-size: 30px;
        font-size: 3.5vw;
        height: auto;
    }
    .large-photo{
        justify-content: center;
        margin-bottom: 5em;
    }
    .divider{
        margin-bottom: .5em;
    }
    .divider-2 {
        margin-bottom: .5em;
    }

}
@media (min-width: 576px) {
    .main-title{
        font-size: 30px;
    }

}
@media (max-width: 768px) {
    #about-me{
        display: flex;
        flex-direction: column;
    }
    /*#large-photo{*/
    /*    width: 70%;*/
    /*    height: auto;*/
    /*    !*margin-left: 5em;*!*/
    /*    margin-left: 3em;*/
    /*}*/

}
@media (min-width: 768px) {
    .main-title {
        font-size: 40px;
    }
    .large-photo{
        justify-content: flex-start;
    }
}

@media (min-width: 992px) {
    .main-title{
        font-size: 50px;
    }
    .large-photo{
        justify-content: flex-start;
    }

}
@media (min-width: 1200px) {
    .main-title{
        font-size: 60px;
    }
    .large-photo{
        justify-content: flex-start;
    }


}
@media (min-width: 1200px) {
    .main-title{
        font-size: 60px;
    }
    .large-photo{
        justify-content: flex-start;
    }


}


/*@media (min-width: 768px) {*/
/*    !*#nav-div {*!*/
/*    !*  width: 35%;*!*/
/*    !*}*!*/
/*    #large-photo{*/
/*        width: 70%;*/
/*        height: auto;*/
/*        !*margin-left: 5em;*!*/
/*        margin: 2em 2em 2em 2em;*/

/*    }*/
/*}*/

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-direction: row-reverse;
    }
}
#projects{
    width: 90%;
    height: auto;
    margin-bottom: 3em;
}

footer{
    margin-top: 5em;
}

.reveal{
    display: none;
}



#languages{

}

.carousel-inner:hover {
}

.carousel-inner:hover {
    box-shadow: 0 10px 20px 10px;
    color: white;
    transition: all .5s ease-in-out;
}



/*.reveal{*/
/*    position: relative;*/
/*    transform: translateY(150px);*/
/*    opacity: 0;*/
/*    transition: 2s all ease;*/
/*}*/
/*.reveal.active{*/
/*    transform: translateY(0);*/
/*    opacity: 1;*/
/*}*/